<p>
<table>
    <tr>
        <td>AWS_REGION</td><td>${region}</td>
    </tr>
    <tr>
        <td>ENVIRONMENT</td><td>${env_name}</td>
    </tr>
    <tr>
        <td>ACCOUNT_NAME</td><td>${account_name}</td>
    </tr>
    <tr>
        <td>PROJECT</td><td>${project}</td>
    </tr>
</table>
</p>
<h1>IMAGES</h1>
<p>
  <table>
    <tr>
        <td>JENKINS MASTER IMAGE</td><td>${jenkins_master_image}</td>
    </tr>
    <tr>
        <td>JENKINS SLAVE IMAGE</td><td>${jenkins_slave_image}</td>
    </tr>
    <tr>
        <td>SONARQUBE IMAGE</td><td>${sonarqube_image}</td>
    </tr>
</table>
</p>
<h1>LINKS</h1>
<p>
    <table>
    <tr>
        <td>JENKINS</td><td><a href="${jenkins_link}">${jenkins_link}</a></td>
    </tr>
    <tr>
        <td>SONAR</td><td><a href="${sonar_link}">${sonar_link}</a></td>
    </tr>
</table>
</p>
<h1>USERS</h1>
 <p><table>
    <tr>
        <td>ADMINS</td><td>${admin_users}</td>
    </tr>
</table></p>
<p>
    <ac:structured-macro ac:name="code" ac:schema-version="1" ac:macro-id="c14b7b25-4614-4d2a-8c4d-e327f9984880"><ac:parameter ac:name="language">xml</ac:parameter><ac:plain-text-body><![CDATA[${settings_xml}]]></ac:plain-text-body></ac:structured-macro>
</p>

